<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate with NLP</title>
    </head>

    <body>

        <header>
                <h1>News Article NLP</h1>
        </header>

        <main>
            <section>
                <form onsubmit="return Client.handleSubmit(event)">
                    <label for="statement">
                      Type something to see what the Aylien NLP understands from it:
                    </label>
                    <input  type="text" id="statement" placeholder="eg: John is a very good football player."
                    required />
                    <input type="submit" value="Submit" />
                </form>
            </section>

            <section class="result">
                <strong>Result</strong>
                <ul class="row">
                    <li class="col-lg-6">
                      <u>Text Polarity:</u>
                      <p id="text_polarity"></p>
                      <i>Confidence:</i>
                      <p id="text_polarity_confidence"></p>
                    </li>
          
                    <li class="col-lg-6">
                      <u>Text Subjectivity:</u>
                      <p id="text_subjectivity"></p>
                      <i>Confidence:</i>
                      <p id="text_subjectivity_confidence"></p>
                    </li>
                  </ul>
            </section>
        </main>

        <footer>
            <p>&copy; PBN</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
              });
            }
        </script>

    </body>
</html>
