<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate with NLP</title>
    </head>

    <body>
        <header>
                <h1>Evaluate News Article NLP</h1>
        </header>
        <main>
            <section>
                <form>
                    <label for="statement">
                      Type something to see what the Aylien NLP understands from it:
                    </label>
                    <input  type="text" id="statement" placeholder="eg: Virat is a brilliant cricketer."
                    required />
                    <input type="submit" value="SUBMIT" onclick="return Client.handleSubmit(event)" />
                </form>
            </section>

            <section class="result">
                <strong>Result</strong>
                <ul>
                    <li>
                      <u>Polarity:</u>
                      <p id="polarity"></p>
                      <i>Confidence:</i>
                      <p id="polarity_confidence"></p>
                    </li>
                    <li>
                      <u>Subjectivity:</u>
                      <p id="subjectivity"></p>
                      <i>Confidence:</i>
                      <p id="subjectivity_confidence"></p>
                    </li>
                  </ul>
            </section>
        </main>

        <footer>
            <p>&copy; PBN</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
              });
            }
        </script>

    </body>
</html>
