form{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    align-items: center;
}

input {
    width: 80%;
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    background-color: black;
    color:ivory;
    font-size:17px;
    font-family: "Roboto Mono", monospace;
}
#url{
    background-color:teal;
    font-size: 19px;
}
label {
    font-size:15 px;
    font-weight: lighter;
}

.result{
    display: flex;
    flex-direction: column;
   
}

strong{
    font-size: 22px;
    margin-left: 400px;
}

li{
    margin-left: 50px;
    font-size: 16px;
    font-weight: lighter;
}


@media only screen and (max-width: 770px) {
    input{
      width: 90%;
    }
  }